<p style="color: green"><%= notice %></p>

<%= render @productdsdsa %>

<div>
  <%= link_to "Edit this productdsdsa", edit_productdsdsa_path(@productdsdsa) %> |
  <%= link_to "Back to productdsdsas", productdsdsas_path %>

  <%= button_to "Destroy this productdsdsa", @productdsdsa, method: :delete %>
</div>
