<p style="color: green"><%= notice %></p>

<%= render @sdsa %>

<div>
  <%= link_to "Edit this sdsa", edit_sdsa_path(@sdsa) %> |
  <%= link_to "Back to sdsas", sdsas_path %>

  <%= button_to "Destroy this sdsa", @sdsa, method: :delete %>
</div>
